<div fxLayout="row" fxFill class="container" fxLayoutGap="10px">
    <mat-card>
      <mat-card-title>Report Configuration</mat-card-title>
      <mat-card-content>
          <form class="container" fxLayout="column">
              <mat-form-field>
                <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="configuration.startDate"
                    placeholder="Start day..." name="startDate">
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field fxLayoutGap="10px">
                <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="configuration.endDate"
                    placeholder="End day..." name="endDate">
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker md-max-date="maxDate"></mat-datepicker>
              </mat-form-field>
              <button fxLayoutGap="10px" mat-raised-button (click)="recalculate();" color="primary">Recalculate</button>
            </form>
      </mat-card-content>
    </mat-card>
    <mat-card fxLayoutGap="10px" *ngIf="hasError" class="error">
      <mat-card-title>Hmmmmm, thats not right...</mat-card-title>
      <mat-card-content><p>An error has occurred while loading price data. Please report this problem with the feedback window on the right!</p>
      <p>You can try calculating again..</p></mat-card-content>
      <mat-card-actions>
          <button mat-button (click)="closeError();" color="primary">Ok</button>
      </mat-card-actions>
    </mat-card>
</div>
