<md-card>
  <md-card-title>Report Configuration</md-card-title>
  <md-card-content>
      <form class="container" fxLayout="column">
          <md-form-field>
            <input mdInput [mdDatepicker]="startDatePicker" [(ngModel)]="configuration.startDate"
               placeholder="Start day..." name="startDate">
            <md-datepicker-toggle mdSuffix [for]="startDatePicker"></md-datepicker-toggle>
            <md-datepicker #startDatePicker></md-datepicker>
          </md-form-field>
          <md-form-field fxLayoutGap="10px">
            <input mdInput [mdDatepicker]="endDatePicker" [(ngModel)]="configuration.endDate"
                placeholder="End day..." name="endDate">
            <md-datepicker-toggle mdSuffix [for]="endDatePicker"></md-datepicker-toggle>
            <md-datepicker #endDatePicker md-max-date="maxDate"></md-datepicker>
          </md-form-field>
          <button fxLayoutGap="10px" md-raised-button (click)="recalculate();" color="primary">Recalculate</button>
        </form>
  </md-card-content>
</md-card>