<mat-card>
    <mat-card-title>Register a new account</mat-card-title>
    <mat-card-content class="container" fxLayout="column">
        <form fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center start">
            <mat-form-field> 
                <input matInput placeholder="Your name" [(ngModel)]="user.name" name="userName"/>
            </mat-form-field>
            <mat-form-field> 
                <input matInput placeholder="Email" [(ngModel)]="user.email" name="userEmail"/>
            </mat-form-field>
            <mat-form-field> 
                <input matInput type="password" placeholder="Password" [(ngModel)]="user.password" name="userPassword"/>
            </mat-form-field>
            <mat-form-field> 
                <input matInput type="password" placeholder="Repeat Password" [(ngModel)]="user.repeatPassword" name="userRepeatPassword"/>
            </mat-form-field>
            <mat-select placeholder="Home currency" [(ngModel)]="user.currencyId" name="userCurrency">
                <mat-option *ngFor="let currency of currencies" [value]="currency.id">
                {{currency.code}} {{currency.name}}
                </mat-option>
            </mat-select>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start end">
                <button mat-raised-button (click)="save();" color="primary">Save</button>
                <button mat-raised-button (click)="cancel();">Cancel</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
