<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
            <mat-card-title fxLayoutAlign="center center">
                    <app-logo [showVersion]="false"></app-logo>
            </mat-card-title>
            <mat-card-subtitle>
                Sign up new account
            </mat-card-subtitle>
            <mat-card-content class="container" fxLayout="column" fxLayoutAlign="center center">
                <form [formGroup]="registerForm" #form="ngForm" (ngSubmit)="onSubmit(registerForm)"
                        fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center start">
                    <mat-form-field fxLayout="column" fxLayoutGap="10px">
                        <input matInput type="text" formControlName="name"
                                placeholder="Your name" required/>
                        <mat-error *ngIf="registerForm.controls['name'].hasError('required')">Name is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field fxLayout="column" fxLayoutGap="10px">
                        <input matInput type="email" formControlName="email"
                                placeholder="Email" required
                                (blur)="onBlur(registerForm)"/>
                        <mat-error *ngIf="registerForm.controls['email'].hasError('required')">Email is required.
                        </mat-error>
                        <mat-error *ngIf="registerForm.controls['email'].hasError('pattern')">Email is invalid.</mat-error>
                        <mat-error *ngIf="registerForm.controls['email'].hasError('conflict')">Email is already
                            registered.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field fxLayout="column" fxLayoutGap="10px">
                        <input matInput type="password" formControlName="password"
                                placeholder="Password" required/>
                        <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
                            Password is required.
                        </mat-error>
                        <mat-error *ngIf="registerForm.controls['password'].hasError('minlength')">
                            Password must have at least 4 characters.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field fxLayout="column" fxLayoutGap="10px">
                        <input matInput type="password" formControlName="repeatPassword"
                                placeholder="Repeat Password" required/>
                        <mat-error *ngIf="registerForm.controls['repeatPassword'].hasError('required')">
                            Password is required.
                        </mat-error>
                        <mat-error *ngIf="registerForm.controls['repeatPassword'].hasError('minlength')">
                            Password must have at least 4 characters.
                        </mat-error>
                        <mat-error *ngIf="registerForm.controls['repeatPassword'].hasError('matchPassword')">
                            Password must be equal.
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field fxLayout="column" fxLayoutGap="10px">
                        <mat-select placeholder="Home currency" formControlName="currencyId" required>
                            <mat-option *ngFor="let currency of currencies" [value]="currency.id">
                                {{currency.code}} {{currency.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="registerForm.controls['currencyId'].hasError('required')">
                            Home currency is required.
                        </mat-error>
                    </mat-form-field>
        
                    <button mat-raised-button type="submit" color="primary"
                        [disabled]="!registerForm.valid" fxFill>
                        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
                            <span>Sign up</span>
                            <mat-spinner *ngIf="loading"
                            color="accent" [diameter]="25" strokeWidth="3"
                            mode="indeterminate"></mat-spinner></div>
                    </button>
                </form>
            </mat-card-content>
        </mat-card>            
</div>