<div fxLayout="row" fxFill class="container" fxLayoutGap="10px">
    <mat-card fxLayoutGap="10px">
        <mat-card-title>Summary</mat-card-title>
        <mat-card-subtitle>For the chosen period</mat-card-subtitle>
        <mat-card-content>
            <h1 [class.positive]="summary.total > 0" [class.negative]="summary.total < 0">{{summary.total | number : '1.2-2'}}</h1>
        </mat-card-content>
    </mat-card>
    <mat-card fxLayoutGap="10px">
        <mat-card-title>Value @ start</mat-card-title>
        <mat-card-content>
            <h2 [class.positive]="summary.startValue > 0" [class.negative]="summary.startValue < 0">{{summary.startValue | number : '1.2-2'}}</h2>
        </mat-card-content>
    </mat-card>
    <mat-card fxLayoutGap="10px">
        <mat-card-title>Buy in/out</mat-card-title>
        <mat-card-content>
            <h3 class="negative">Buy in {{summary.buyIn | number : '1.2-2'}}</h3>
            <h3 class="positive">Buy out {{summary.buyOut | number : '1.2-2'}}</h3>
        </mat-card-content>
    </mat-card>
    <mat-card fxLayoutGap="10px">
        <mat-card-title>Value @ end</mat-card-title>
        <mat-card-content>
            <h2 [class.positive]="summary.endValue > 0" [class.negative]="summary.endValue < 0">{{summary.endValue | number : '1.2-2'}}</h2>
        </mat-card-content>
    </mat-card>
</div>