<mat-card fxFill>
    <mat-card-title>Report </mat-card-title>
    <mat-card-subtitle *ngIf="!hasConfiguration">Choose a date to get started!</mat-card-subtitle>
    <mat-card-content *ngIf="hasConfiguration"> 
        <mat-progress-spinner *ngIf="hasConfiguration && isLoading" mode="indeterminate">Loading</mat-progress-spinner>       
        <canvas baseChart *ngIf="hasConfiguration && !isLoading && lineChartData.length > 0" legend="true"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [colors]="lineChartColors"
        [options]="lineChartOptions"
        [chartType]="lineChartType"></canvas>
    </mat-card-content>
</mat-card>

