<md-card>
  <md-card-title>
    About
  </md-card-title>
  <md-card-content>
    <p>This project is made with <md-icon class="love">favorite</md-icon> for the crypto-community. 
    We use <a href="https://www.cryptocompare.com/" target="new">CryptoCompare</a>, <a href="https://etherscan.io/" target="new">Etherscan</a> and <a href="https://www.blockcypher.com/" target="new">BlockCypher</a> APIs.
  </p><p>We do not store any of your data or accounts on our servers.</p>
  </md-card-content>
</md-card>