<md-card>
    <md-card-title>Coin
        <button md-icon-button [mdMenuTriggerFor]="menu"
          *ngIf="coin.id !== null && coin.id !== undefined">
            <md-icon>more_vert</md-icon>
          </button>
          <md-menu #menu="mdMenu">
            <button md-menu-item>
              <md-icon>play_circle_outline</md-icon>
              <span>Load all transactions</span>
            </button>
            <button md-menu-item (click)="deleteCoin();">
              <md-icon>delete</md-icon>
              <span>Delete</span>
            </button>
          </md-menu>
    </md-card-title>
    <md-card-content>        
        <form fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center start">
            <md-input-container> 
                <input mdInput placeholder="Code" [(ngModel)]="coin.code" name="code"/>
            </md-input-container>  
            <md-input-container> 
                <input mdInput placeholder="Description" [(ngModel)]="coin.description" name="description"/>
            </md-input-container>
            <md-select placeholder="Coin type" [(ngModel)]="coin.coinType" name="coinType">
                <md-option *ngFor="let coinType of coinTypes" [value]="coinType.code">{{coinType.description}}</md-option>
            </md-select>
            <md-input-container *ngIf="coin.coinType == 'erc20contract'"> 
                <input mdInput placeholder="Base address" [(ngModel)]="coin.baseAddress" name="baseAddress"/>
            </md-input-container>
            <md-input-container> 
                <input mdInput placeholder="Decimals" [(ngModel)]="coin.decimals" 
                       type="number" step="1" name="decimals"/>
            </md-input-container>
            <md-checkbox [(ngModel)]="coin.isActive" name="isActive">active</md-checkbox>
            <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start end"> 
                <button md-raised-button (click)="save();" color="primary">Save</button>
                <button md-raised-button (click)="cancel();">Cancel</button>
            </div>
        </form>
    </md-card-content>
</md-card>