<mat-card>
    <mat-card-title>Coin
        <button mat-icon-button [matMenuTriggerFor]="menu"
          *ngIf="coin.id !== null && coin.id !== undefined">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="importErc20Coin();" [disabled]="!enableSyncButton">
              <mat-icon>play_circle_outline</mat-icon>
              <span>Load all transactions</span>
            </button>
            <button mat-menu-item (click)="deleteCoin();">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
    </mat-card-title>
    <mat-card-content>        
        <form fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center start">
            <mat-form-field> 
                <input matInput placeholder="Code" [(ngModel)]="coin.code" name="code"/>
            </mat-form-field>  
            <mat-form-field> 
                <input matInput placeholder="Description" [(ngModel)]="coin.description" name="description"/>
            </mat-form-field>
            <mat-select placeholder="Coin type" [(ngModel)]="coin.coinType" name="coinType">
                <mat-option *ngFor="let coinType of coinTypes" [value]="coinType.code">{{coinType.description}}</mat-option>
            </mat-select>
            <mat-form-field *ngIf="coin.coinType == 'erc20contract'"> 
                <input matInput placeholder="Base address" [(ngModel)]="coin.baseAddress" name="baseAddress"/>
            </mat-form-field>
            <mat-form-field> 
                <input matInput placeholder="Decimals" [(ngModel)]="coin.decimals" 
                       type="number" step="1" name="decimals"/>
            </mat-form-field>
            <mat-checkbox [(ngModel)]="coin.isActive" name="isActive">active</mat-checkbox>
            <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start end"> 
                <button mat-raised-button (click)="save();" color="primary">Save</button>
                <button mat-raised-button (click)="cancel();">Cancel</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>