.data-input {
    max-width: 200px;
}

.btnCancel {
    margin: 10px;
}

.btnSave {
    margin: 10px;
}

/*Override the height & width of the mat-mini-fab buttons*/
.mat-mini-fab {
    min-width: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0;
    flex-shrink: 0;
}
.info-icon{
    margin-top: 16px;
    margin-left: 4px;
}
.info-icon-img{
    font-size: 20px;
    height: 20px;
    width: 20px;
}