<h2>Coins
  <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="syncErc20();" [disabled]="!enableSyncButton">
        <mat-icon>play_circle_outline</mat-icon>
        <span>Sync ERC20 with bittrex</span>
      </button>
    </mat-menu>
  </h2>

<button mat-raised-button (click)="add();" color="primary" fxLayoutGap="10px">
  <mat-icon>create</mat-icon> Add coin
</button>
<mat-table #table [dataSource]="dataSource" matSort>   

  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Code </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="isActive">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Is Active </mat-header-cell>
    <mat-cell *matCellDef="let row">
        <mat-checkbox [(ngModel)]="row.isActive" disabled></mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="coinType">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Coin Type </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.coinType}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.state}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="decimals">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Decimals </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.decimals}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="baseAddress">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Base address </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.baseAddress}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstBlockSynchronized">
    <mat-header-cell *matHeaderCellDef mat-sort-header> First block </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.firstBlockSynchronized}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastBlockSynchronized">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Last block </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.lastBlockSynchronized}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClicked(row);"></mat-row>
</mat-table>