<mat-sidenav-container fxFlexFill>
  <mat-sidenav mode="over" #sideNavMenu>     
      <mat-nav-list>
        <span mdHeader>Menu</span>
        <ng-container *ngFor="let menuItem of menuItems">
            <mat-list-item 
            *ngIf="!((menuItem.requiresLogin && !loggedIn) || (menuItem.hideAfterLogin && loggedIn))">
              <mat-icon matListIcon>{{menuItem.icon}}</mat-icon>
              <a matLine (click)="navigateTo(menuItem)">{{ menuItem.name }}</a>
            </mat-list-item>
        </ng-container>
      </mat-nav-list>
  </mat-sidenav>
  <div fxLayout="column"> 
      <mat-toolbar>
        <button mat-icon-button (click)="toggleMenu()" *ngIf="media.isActive('xs')">
          <mat-icon>menu</mat-icon>
        </button>   

        <span fxFlex>Crypto Portfolio<sub class="versionIndicator"><i>alpha</i></sub></span>  
        
        <span class="fill-space"></span>

        <div *ngIf="!media.isActive('xs')">
          <ng-container *ngFor="let menuItem of menuItems" >
              <button mat-button (click)="navigateTo(menuItem)"
                  *ngIf="!((menuItem.requiresLogin && !loggedIn) || (menuItem.hideAfterLogin && loggedIn))"
                  routerLinkActive="active">
                <mat-icon>{{ menuItem.icon }}</mat-icon>{{ menuItem.name }}
              </button>
          </ng-container>
        </div>
      </mat-toolbar>
    
      <div fxFlex>
          <router-outlet></router-outlet>
      </div>
    </div>
</mat-sidenav-container>