<mat-card class="price-detail">
  <mat-card-header>
      <mat-card-title>
            <h3 class="mat-headline">{{account.description}}</h3>
            <mat-icon class="trending-icon" *ngIf="account.priceNow > account.priceOneHour">trending_up</mat-icon>
            <mat-icon class="trending-icon" *ngIf="account.priceNow <= account.priceOneHour">trending_down</mat-icon>
      </mat-card-title>
      <mat-card-subtitle>
        <p>{{account.balance | prettify}} {{account.coinCode}} @ {{account.priceNow  | prettify }} {{ currencySymbol }}</p>
      </mat-card-subtitle>
      <img *ngIf="account.image" mat-card-avatar [src]="account.image" />
  </mat-card-header>
  <mat-card-content *ngIf="account.state !== 'importing'">
      <mat-grid-list cols="4" rowHeight="35px" gutterSize="1">
        <mat-grid-tile>&nbsp;</mat-grid-tile>
        <mat-grid-tile><span class="mat-body-2">balance</span></mat-grid-tile>
        <mat-grid-tile><span class="mat-body-2">price</span></mat-grid-tile>
        <mat-grid-tile><span class="mat-body-2">total</span></mat-grid-tile>
        <mat-grid-tile><span class="mat-body-2">Now</span></mat-grid-tile>
        <mat-grid-tile>{{account.balance | prettify}} {{account.coinCode}}</mat-grid-tile>
        <mat-grid-tile>{{account.priceNow  | prettify }} {{ currencySymbol }}</mat-grid-tile>
        <mat-grid-tile>{{account.priceNow * account.balance | prettify }} {{ currencySymbol }}</mat-grid-tile>
        <mat-grid-tile>1h</mat-grid-tile>
        <mat-grid-tile>{{account.balanceOneHourAgo | prettify}} {{account.coinCode}}</mat-grid-tile>
        <mat-grid-tile>{{account.priceOneHour  | prettify }} {{ currencySymbol }}</mat-grid-tile>
        <mat-grid-tile>{{account.priceOneHour * account.balanceOneHourAgo | prettify }} {{ currencySymbol }}</mat-grid-tile>
        <mat-grid-tile>24h</mat-grid-tile>
        <mat-grid-tile>{{account.balanceOneDayAgo | prettify}} {{account.coinCode}}</mat-grid-tile>
        <mat-grid-tile>{{account.priceOneDay  | prettify }} {{ currencySymbol }}</mat-grid-tile>
        <mat-grid-tile>{{account.priceOneDay * account.balanceOneDayAgo | prettify }} {{ currencySymbol }}</mat-grid-tile>
        <mat-grid-tile>1 week</mat-grid-tile>
        <mat-grid-tile>{{account.balanceOneWeekAgo | prettify}} {{account.coinCode}}</mat-grid-tile>
        <mat-grid-tile>{{account.priceLastWeek  | prettify }} {{ currencySymbol }}</mat-grid-tile>
        <mat-grid-tile>{{account.priceLastWeek * account.balanceOneWeekAgo | prettify }} {{ currencySymbol }}</mat-grid-tile>
        <mat-grid-tile>1 month</mat-grid-tile>
        <mat-grid-tile>{{account.balanceOneMonthAgo | prettify}} {{account.coinCode}}</mat-grid-tile>
        <mat-grid-tile>{{account.priceLastMonth  | prettify }} {{ currencySymbol }}</mat-grid-tile>
        <mat-grid-tile>{{account.priceLastMonth * account.balanceOneMonthAgo | prettify }} {{ currencySymbol }}</mat-grid-tile>
      </mat-grid-list>
  </mat-card-content>
  <mat-card-content *ngIf="account.state === 'importing'">
      <mat-toolbar fxLayoutAlign="end center">
        <span fxFlex fxFill>Your transactions are loading from the blockchain...</span>
      </mat-toolbar>
      <mat-spinner
      color="accent" [diameter]="25" strokeWidth="3"
      mode="indeterminate"></mat-spinner>
  </mat-card-content>
  <md-card-actions *ngIf="account.state !== 'importing'">
    <button mat-raised-button (click)="open(account)">
        <mat-icon>import_export</mat-icon>          
        Transactions</button>
    <button mat-raised-button (click)="edit(account);" class="mtb-5">
        <mat-icon>edit</mat-icon>
        Edit
    </button>  
    <button mat-raised-button (click)="delete(account);" class="mtb-5">
        <mat-icon>delete</mat-icon>
        Delete
    </button>
    <button color="primary" mat-raised-button mat-dialog-close class="mtb-5">
        Close
    </button>
  </md-card-actions>
</mat-card>