<form fxLayout="column" fxLayoutAlign="center start">
    <mat-card>
      <mat-card-title>Tag your transaction</mat-card-title>
      <mat-card-content fxLayout="column">
          <mat-select fxLayoutGap="10px" placeholder="Tag" [(ngModel)]="tag" name="tag">
              <mat-option *ngFor="let tag of tags" [value]="tag">
                {{tag}}
              </mat-option>
            </mat-select>
          <mat-form-field fxLayoutGap="10px"> 
              <input type="number" matInput placeholder="Amount" [(ngModel)]="amount" name="amount"/>
          </mat-form-field>
          <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start start">
            <button mat-raised-button (click)="save();" color="primary">Save</button>
            <button mat-raised-button (click)="cancel();">Cancel</button>
          </div>
      </mat-card-content>
    </mat-card>
</form>