<h1>
  Admin
</h1>
<ul>
  <li><a routerLink="/admin/coins">Coins</a></li>
  <li><a routerLink="/admin/logs">Logs</a>({{statistics.log.count}} total)({{statistics.log.day}} past day)({{statistics.log.week}} past week)</li>
  <li><a routerLink="/admin/users">Users</a>({{statistics.user.count}} total)({{statistics.user.day}} past day)({{statistics.user.week}} past week)</li>
  <li>Last ethereum block: {{statistics.ethereum.last}} ({{statistics.ethereum.day}} past day)({{statistics.ethereum.week}} past week)</li>
</ul>