<div fxLayout="column" fxLayoutAlign="space-evenly start" *ngIf="accountsAvailable">
  <app-dashboard-configuration></app-dashboard-configuration>
  <app-dashboard-summary class="marginTop"></app-dashboard-summary>
  <div class="marginTop fullWidth">
      <div class="container" fxFill fxLayout="row">
          <app-dashboard-content fxFill fxFlex="90%"></app-dashboard-content>
      </div>
  </div>
</div>
<md-card *ngIf="!accountsAvailable">
  <md-card-title>Woops!</md-card-title>
  <md-card-content fxLayout="column" class="container" fxLayoutAlign="start start">
    <span>Please add some crypto <i>accounts</i> before you view your dashboard!</span>
    <button md-button class="mtb-5" color="primary"routerLink="/accounts">
        <md-icon>add</md-icon>
        Add accounts
    </button>  
  </md-card-content>
</md-card>