.trending-icon{
    margin-left: 5px;
}
.title-spinner{
    margin-left: 5px;
    margin-bottom: 5px;
}
.tile{
    width: 300px;
}
.collapsed-tile{
    height: 115px;
}
.sm-collapsed-tile{
    height: 56;
}
.positive-chip{
    background-color: #66bb6a;
    color: white;
}
.negative-chip{
    background-color: #ef5350;
    color: white;
}
.title{
    margin: 15px;
}
.title-tile{
    background-color: #363532;
    color: white;
}