<mat-card *ngIf="accounts.length === 0">
  <mat-card-header>
    <div mat-card-avatar><mat-icon class="size-40">info_outline</mat-icon> </div>
    <mat-card-title>Step 1</mat-card-title>
    <mat-card-subtitle>Click 'Add account' to add your first crypto account.</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<button mat-raised-button (click)="addAccount();" color="primary" fxLayoutGap="10px">
  <mat-icon>create</mat-icon> Add account
</button>
<div *ngIf="accounts.length > 0">
  <h3>Accounts</h3>
  <mat-card *ngFor="let account of accounts">
    <mat-card-content>
        <img mat-card-sm-image *ngIf="account.image" 
          class="account-summary-image"
          [src]="account.image" />
        <span>
            {{account.description}} 
        </span>
    </mat-card-content>
  </mat-card>
</div>