<mat-card *ngIf="accounts.length === 0">
  <mat-card-header>
    <div mat-card-avatar><mat-icon class="size-40">info_outline</mat-icon> </div>
    <mat-card-title>Step 1</mat-card-title>
    <mat-card-subtitle>Click 'Add account' to add your first crypto account.</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<button mat-raised-button (click)="addAccount();" color="primary" fxLayoutGap="10px">
  <mat-icon>create</mat-icon> Add account
</button>
<mat-tab-group>
  <mat-tab label="My Assets">
    <app-account-summary-overview></app-account-summary-overview>
  </mat-tab>
  <mat-tab *ngFor="let account of accounts" label="{{account.description}}">
      <!-- <mat-card *ngIf="account.loading">
          <mat-card-title>Loading...</mat-card-title>
          <mat-card-content>Your transactions are loading from the blockchain...</mat-card-content>
      </mat-card> -->
      <app-transaction-overview [account]="account"></app-transaction-overview>
  </mat-tab>
</mat-tab-group>
