<mat-grid-list [cols]="columns" rowHeight="200px;">
    <mat-grid-tile>
        <mat-card class="tile collapsed-tile title-tile">
            <mat-card-header>
                <mat-card-title>
                  <h3 class="mat-headline">Your cryptofolio</h3>
                </mat-card-title>
                <mat-card-subtitle>
                    <p class="mat-accent mat-headline"> {{ total | prettify  }} {{ currencySymbol }}</p>
                </mat-card-subtitle>
            </mat-card-header>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let account of accounts">
        <app-account-card [account]="account" (deleted)="delete(account)" (menuOpened)="menuOpened($event)" (menuClosed)="menuClosed($event)"></app-account-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="tile sm-collapsed-tile">
            <mat-card-header>
                <mat-card-subtitle>
                  <p><button (click)="addAccount();" mat-mini-fab class="icon-24" color="primary">+</button> Click to add a new account</p>
                </mat-card-subtitle>
            </mat-card-header>
      </mat-card>
    </mat-grid-tile>
</mat-grid-list>