<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-title fxLayoutAlign="center center">Sign in</mat-card-title>
        <mat-card-content class="container" fxLayout="column" fxLayoutAlign="center center">
            <form fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center start"
                    [formGroup]="loginForm" #form="ngForm" (ngSubmit)="onSubmit(form)">
                <mat-form-field fxLayout="column" fxLayoutGap="10px">
                    <input matInput placeholder="Email"
                            type="email" formControlName="email" required/>
                    <mat-error *ngIf="loginForm.controls['email'].hasError('required')">Email is required.</mat-error>
                    <mat-error *ngIf="loginForm.controls['email'].hasError('pattern')">Email is invalid.</mat-error>
                </mat-form-field>
                <mat-form-field fxLayout="column" fxLayoutGap="10px">
                    <input matInput placeholder="Password"
                            type="password" formControlName="password" required/>
                    <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                        Password is required.
                    </mat-error>
                    <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">
                        Password must have at least 4 characters.
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button [disabled]="!loginForm.valid" type="submit" color="primary" fxFill>
                        <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
                            <span>Login</span>
                            <mat-spinner *ngIf="loading"
                                color="accent" [diameter]="25" strokeWidth="3"
                                mode="indeterminate"></mat-spinner>
                        </div>
                    </button>
                <mat-error *ngIf="showError">
                    <p>Email or password are incorrect.</p>
                </mat-error>
            </form>
            <p>No account yet? <a [routerLink]="['../register']">Sign Up</a></p>
        </mat-card-content>
    </mat-card>
</div>