/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

md-icon.size-40 {
    font-size: 40px;
  }

.positive{
  color: #66bb6a;
}

.negative{
  color: #ef5350;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

.mat-card-80 {
  width: 80%;
}