

<mat-card>
  <mat-card-title>Start building your crypto dashboard!</mat-card-title>
</mat-card>

<mat-card>
    <mat-card-title>Step 1</mat-card-title>
    <mat-card-content>Add your crypto accounts.
        <button mat-raised-button (click)="nextStep();" color="primary">Get started</button>
    </mat-card-content>
</mat-card>
  
<mat-card>
    <mat-card-title>Step 2</mat-card-title>
    <mat-card-content> Tag your transactions.</mat-card-content>
</mat-card>
  
<mat-card>
    <mat-card-title>Step 3</mat-card-title>
    <mat-card-content>View your dashboard!</mat-card-content>
</mat-card>