

<md-card>
  <md-card-title>Start building your crypto dashboard!</md-card-title>
</md-card>

<md-card>
    <md-card-title>Step 1</md-card-title>
    <md-card-content>Add your crypto accounts.</md-card-content>
</md-card>
  
<md-card>
    <md-card-title>Step 2</md-card-title>
    <md-card-content> Tag your transactions.</md-card-content>
</md-card>
  
<md-card>
    <md-card-title>Step 3</md-card-title>
    <md-card-content>View your dashboard!</md-card-content>
</md-card>

<md-toolbar>
    <button md-raised-button (click)="nextStep();" color="primary">Get started</button>
</md-toolbar>